 
 <mat-accordion multi="true" *ngIf="serventia !== undefined && serventia !== null">
    <div fxLayout="column" fxLayoutGap="5px">
      <div fxLayoutAlign="center">
        <div class="grid-container" fxLayout="column" >
          <mat-card>    
            <mat-card-content>
              <form [formGroup]="form">
                <div fxLayout="row"  fxLayoutGap="15px">                
                    <mat-form-field fxFlex="50">
                      <mat-label>Identificador</mat-label>
                      <input type="text" matInput placeholder="Identificador" formControlName="identificador" id="identificador" maxlength="200" />
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                      <mat-label>Vigente</mat-label>
                      <mat-select placeholder="Vigente" formControlName="vigencia" id="vigencia">
                          <mat-option value=""></mat-option>
                          <mat-option value="A">Não Analisado</mat-option>
                          <mat-option value="S">Sim</mat-option>
                          <mat-option value="N">Não</mat-option>

                      </mat-select>
                    </mat-form-field>

                </div>
                <div fxLayout="row"  fxLayoutGap="15px">
                  <mat-form-field appearance="outline" color="primary" fxFlex="50">
                    <mat-label>Data Início</mat-label>                    
                    <input matInput [matDatepicker]="dp1" formControlName="dataInicio" id="dataInicio">
                    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                    <mat-datepicker #dp1></mat-datepicker>
                  </mat-form-field>    
                  <div style="padding-top: 20px;padding-bottom: 20px;padding-left: 10px;padding-right: 10px">                   
                    <label>Até</label>
                  </div>                 
                  <mat-form-field appearance="outline" color="primary" fxFlex="50">
                    <mat-label>Data término</mat-label>
                    <input matInput [matDatepicker]="dp2" formControlName="dataTermino" id="dataTermino">
                    <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                    <mat-datepicker #dp2></mat-datepicker>
                  </mat-form-field>
                </div>                 
              </form> 
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <mat-expansion-panel *ngFor="let grp of grupos">
      <mat-expansion-panel-header>
        <mat-panel-title fxLayout="row" fxLayoutAlign="space-between center">
          <h4>{{ grp.descricao }}</h4>          
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-expansion-panel *ngFor="let sub of grp.subgrupo">
        <mat-expansion-panel-header>
          <mat-panel-title fxLayout="row" fxLayoutAlign="space-between center">
            <h4>{{ sub.descricao }}</h4>           
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel *ngFor="let despesa of sub.despesas">
          <mat-expansion-panel-header>
            <mat-panel-title fxLayout="row" fxLayoutAlign="space-between center">
              <h4>{{ despesa.descricao }}</h4>           
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container *ngFor="let autorizacao of despesa.autorizacoes">
            <div class="identificador" fxLayout="row" fxLayoutAlign="end center">
              <div fxFlex>{{ autorizacao.identificador }}</div>
              <ng-container *ngIf="autorizacao.isEditable">
                <button mat-icon-button  id="editarAutorizacao" style="padding-left: 20px;">
                  <mat-icon matTooltip="Alterar Autorização" (click)="editar(autorizacao,grp,sub,despesa)">edit</mat-icon>
                </button>
              </ng-container>              
              <ng-container *ngIf="autorizacao.isRemovible">
                <button mat-icon-button  id="deletarAutorizacao" (click)="deletar(autorizacao)" style="padding-left: 20px;">
                  <mat-icon matTooltip="Excluir Autorização">delete</mat-icon>
                </button>
              </ng-container>             
              <button
                mat-icon-button
                id="visualizarAutorizacao" style="padding-left: 20px;">
                <mat-icon fontSet="material-icons-outlined" matTooltip="Visualizar Autorização" (click)="visualizar(autorizacao,grp,sub,despesa)"> info</mat-icon>
              </button>           
            </div>
          </ng-container>        
        </mat-expansion-panel>          
      </mat-expansion-panel>
    </mat-expansion-panel>
    <div *ngIf="grupos.length == 0">   
      <p>Nenhuma autorização encontrada!</p>
    </div>  
    <div class="add-autorizacao" fxLayoutAlign="end start">
      <button mat-stroked-button color="primary" (click)="adicionar()" id="novaAutorizacao"><mat-icon>add</mat-icon> Nova Autorização</button>
    </div>
    <ngx-ui-loader [loaderId]="'loaderAutorizacoes'"></ngx-ui-loader>  
  </mat-accordion>
  
  