.valor {
  text-align: right;
}

input.valor::-webkit-outer-spin-button,
input.valor::-webkit-inner-spin-button {
  display: none;
}

input.valor {
  -moz-appearance: textfield;
}

.mat-form-field {
  width: 100%;
  height: 100%;
}

table {
  width: 100%;
}

.mat-column-razaoSocial {
  flex: 0 0 40% !important;
  justify-content:left;
}
