<h2 mat-dialog-title>
  {{ isEdicao() ? "Editar Autorização" : "Nova Autorização" }}</h2>
<mat-dialog-content>
  <mat-horizontal-stepper labelPosition="bottom" linear="true" #stepper>
    <div fxLayout="column" fxLayoutAlign="space-between">
      <mat-step [stepControl]="formAutorizacao">
        <div class="step-content">
          <form [formGroup]="formAutorizacao" id="formAutorizacao">
            <ng-template matStepLabel>Detalhes</ng-template>
            <div fxLayout="column" fxLayoutAlign="space-between start">
              <mat-form-field>
                <mat-label>{{ nomeGrupo }}</mat-label>
                <mat-select placeholder="Grupo" formControlName="grupo" id="grupo" [disabled]="isEdicao()">
                  <mat-option *ngFor="let grp of grupos" [value]="grp">
                    {{ grp.descricao }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{ nomeSubgrupo }}</mat-label>
                <mat-select placeholder="Subgrupo" formControlName="subgrupo" id="subgrupo" [disabled]="isEdicao()">
                  <mat-option *ngFor="let sg of subgrupos" [value]="sg">
                    {{ sg.descricao }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{ nomeDespesa }}</mat-label>
                <mat-select placeholder="Despesa" formControlName="despesa" id="despesa" [disabled]="isEdicao()">
                  <mat-option *ngFor="let des of despesas" [value]="des">
                    {{ des.descricao }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-between">         
              <mat-form-field>
                <mat-label>Identificador</mat-label>
                <input matInput placeholder="Identificador" formControlName="identificador" id="identificador"
                  maxlength="200" [disabled]="isEdicao()" />
              </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-between">         
              <mat-form-field color="primary">
                <mat-label>Data de Início</mat-label>
                <input matInput [matDatepicker]="dp1" formControlName="dataInicio" id="dataInicio">
                <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                <mat-datepicker #dp1></mat-datepicker>
              </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-between">
              <mat-form-field>
                <mat-label>Observação</mat-label>
                <textarea
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                  maxlength="500"
                  placeholder="Observação"
                  formControlName="observacao"
                  id="observacao">
                </textarea>
              </mat-form-field>
            </div>
          </form>
        </div>
        <mat-dialog-actions fxLayoutAlign="end start">
          <button mat-stroked-button color="primary" (click)="cancelar()">Cancelar</button>     
          <button mat-stroked-button color="primary" matStepperNext
            [disabled]="formAutorizacao.invalid">Próximo</button>
        </mat-dialog-actions>
      </mat-step>    
      <mat-step [stepControl]="formDocumento" [completed]="isCompleteDocs()">
        <div class="step-content">
          <ng-template matStepLabel>Documento</ng-template>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <app-upload-documentos fxFlex [tipo]="'A'" [idRegistro]="autorizacao.id" [isAditivo]="false"
              (documentosUpdated)="setDocumentos($event)"></app-upload-documentos>
          </div>
        </div>
        <mat-dialog-actions fxLayoutAlign="end start">
          <button mat-stroked-button color="primary" (click)="cancelar()">Cancelar</button>
          <button mat-stroked-button color="primary" matStepperPrevious>Anterior</button>
          <button mat-stroked-button color="primary" matStepperNext [disabled]="!isCompleteDocs()">Próximo</button>
        </mat-dialog-actions>                      
      </mat-step>
      <mat-step [stepControl]="formConfirmacao">
        <div class="step-content">

          <ng-template matStepLabel>Confirmação</ng-template>
          <div fxLayout="row">
            <div fxLayout="column">
              <p><b>Grupo: </b> {{ formAutorizacao.value.grupo ? formAutorizacao.value.grupo.descricao : ''}}</p>
            </div>            
          </div>

          <div fxLayout="row">
            <div fxLayout="column">
              <p><b>Subgrupo: </b>{{ formAutorizacao.value.subgrupo ? formAutorizacao.value.subgrupo.descricao : '' }}</p>
            </div>
          </div>

          <div fxLayout="row">
            <div fxLayout="column">
              <p><b>Despesa: </b>{{ formAutorizacao.value.despesa ? formAutorizacao.value.despesa.descricao : '' }}</p>
            </div>
          </div> 
          
          <div fxLayout="row">
            <div fxLayout="column">
              <p><b>Identificador: </b>{{ formAutorizacao.get('identificador').value ? formAutorizacao.get('identificador').value : ''}}</p>
            </div>           
          </div>

          <div fxLayout="row">
            <div fxLayout="column">
              <p><b>Data início: </b>{{ formAutorizacao.value.dataInicio | date: 'dd/MM/yyyy'}}</p>
            </div>           
          </div>

          <div fxLayout="row">
            <div fxLayout="column" fxFlex>
              <p><b>Observação: </b></p>
              <textarea
                  matInput
                  cdkTextareaAutosize
                  readonly
                  #autosize="cdkTextareaAutosize"                  
                  maxlength="500"
                  placeholder="Observação"
                  [value]="formAutorizacao.value.observacao"
                  style="overflow: hidden;"
                  id="observacaoConfirmacao">
                </textarea>
            </div>
          </div>           

          <div fxLayout="column" >    
            <div fxLayout="row" >
              <p><b>Comprovantes: </b></p>
            </div>
            <div  fxFlex>
              <mat-list>
                <mat-list-item *ngFor="let doc of documentos" fxFlexFill>
                  <b>{{ doc.tipo.descricao }} </b>{{ ': ' + doc.nomeArquivo }}
                  ({{ doc.adicionar === undefined ? 'sem alteração' : (doc.adicionar ? 'adição' : 'exclusão')}})
                </mat-list-item>
              </mat-list>
            </div>    
          </div>
        </div>
        <mat-dialog-actions fxLayoutAlign="end start">
          <button mat-stroked-button color="primary" (click)="cancelar()">Cancelar</button>
          <button mat-stroked-button color="primary" matStepperPrevious>Anterior</button>
          <button mat-stroked-button color="primary" (click)="salvar()"
            [disabled]="!isCompleteDocs() || formAutorizacao.invalid">Salvar</button>
        </mat-dialog-actions>
      </mat-step>       
    </div>
  </mat-horizontal-stepper>
  <ngx-ui-loader [loaderId]="'loaderAutorizacao'"></ngx-ui-loader>
</mat-dialog-content>
